In [149]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # a specialized 2d plotting library to visualise Numpy computations
import statsmodels.api as sm
    #these where imported after we set up the regression line
import seaborn as sns # a similar package to matplotlib but it's more advanced at it
sns.set() # basically it's like the relationship between css and html XD
sns.set_theme(style="whitegrid")

In [150]:
data = pd.read_csv('OnlineRetail.csv', nrows=5000)

In [151]:

data1 = data[['Quantity' , 'UnitPrice','CustomerID' , 'InvoiceDate' ]].copy()
data.describe()

          Quantity    UnitPrice    CustomerID
count  5000.000000  5000.000000   3795.000000
mean      9.185800     3.792314  15906.281950
std     144.940788    13.211720   1732.068892
min   -9360.000000     0.000000  12431.000000
25%       1.000000     1.250000  14606.000000
50%       3.000000     2.510000  15862.000000
75%      10.000000     4.210000  17841.000000
max    2880.000000   607.490000  18239.000000

In [152]:
data1['Quantity'] = data['Quantity'][data['Quantity'] >0]
data1['UnitPrice'] = data['UnitPrice'][data['UnitPrice'] !=0 ]

In [153]:
data1.describe()

          Quantity    UnitPrice    CustomerID
count  4928.000000  4988.000000   3795.000000
mean     11.454343     3.801437  15906.281950
std      58.812181    13.226295   1732.068892
min       1.000000     0.030000  12431.000000
25%       1.000000     1.250000  14606.000000
50%       3.000000     2.510000  15862.000000
75%      12.000000     4.210000  17841.000000
max    2880.000000   607.490000  18239.000000

In [154]:
data1.groupby(['CustomerID'])['Quantity'].count()

CustomerID
12431.0    14
12433.0    73
12471.0     0
12472.0     0
12583.0    20
           ..
18085.0     9
18144.0     3
18168.0    10
18229.0     7
18239.0    29
Name: Quantity, Length: 197, dtype: int64

In [155]:
data1.groupby(['CustomerID'])['UnitPrice'].sum()

CustomerID
12431.0     73.90
12433.0    102.67
12471.0      8.50
12472.0     49.45
12583.0     55.29
            ...
18085.0     34.60
18144.0      7.89
18168.0     70.25
18229.0     48.65
18239.0     96.90
Name: UnitPrice, Length: 197, dtype: float64

In [156]:
data1['InvoiceDate'].astype('str')

0       01-12-2010 08:26
1       01-12-2010 08:26
2       01-12-2010 08:26
3       01-12-2010 08:26
4       01-12-2010 08:26
              ...
4995    02-12-2010 18:08
4996    02-12-2010 18:08
4997    02-12-2010 18:08
4998    02-12-2010 18:08
4999    02-12-2010 18:08
Name: InvoiceDate, Length: 5000, dtype: object

In [157]:
from datetime import datetime
# format_2 = "%d-%m-%Y %H:%M"
# i=0
# for item in (data1['InvoiceDate']):
#     data1['InvoiceDate'][i] = datetime.strptime(item, format_2)
#     i = i+1

In [158]:
Recency = np.array(data1.groupby(['CustomerID'])['InvoiceDate'].min())
Frequency = np.array(data1.groupby(['CustomerID'])['Quantity'].count())
Monetary = np.array(data1.groupby(['CustomerID'])['UnitPrice'].sum())

In [159]:
import time

current_time = time.strftime("%d-%m-%Y %H:%M")
current_timeDate = datetime.strptime(current_time, "%d-%m-%Y %H:%M")

Recency_days = []
# timeDate = datetime.strptime(data1['InvoiceDate'][102], "%d-%m-%Y %H:%M")
# print(timeDate)
# print(abs((timeDate-current_timeDate).total_seconds()))

for time in Recency:
    timeDate = datetime.strptime(time, "%d-%m-%Y %H:%M")
    time = abs(((timeDate-current_timeDate).total_seconds())/(60*60*24))
    Recency_days.append(time)

In [160]:
print(Recency_days)

[4549.706944444444, 4549.5673611111115, 4548.683333333333, 4549.519444444444, 4549.761111111111, 4549.58125, 4549.592361111111, 4549.648611111111, 4549.627777777778, 4548.725, 4549.590972222222, 4548.602777777778, 4549.496527777777, 4549.444444444444, 4548.429861111111, 4548.402083333333, 4549.76875, 4549.422916666666, 4548.800694444444, 4549.500694444445, 4548.684722222222, 4548.576388888889, 4548.498611111111, 4548.371527777777, 4549.627083333334, 4548.392361111111, 4548.61875, 4548.409027777778, 4549.6819444444445, 4548.677777777778, 4549.672916666666, 4549.4951388888885, 4548.521527777778, 4549.4006944444445, 4549.617361111111, 4549.688888888889, 4548.75625, 4549.683333333333, 4549.750694444445, 4549.6201388888885, 4549.676388888889, 4549.458333333333, 4548.4006944444445, 4548.697222222222, 4548.415277777778, 4549.585416666667, 4548.435416666666, 4549.645138888889, 4548.702777777778, 4548.618055555556, 4549.5881944444445, 4548.74375, 4548.690277777778, 4549.436111111111, 4548.4118055555555, 4548.578472222222, 4549.570138888889, 4548.393055555555, 4549.638888888889, 4548.665972222222, 4548.628472222223, 4548.413888888889, 4548.5361111111115, 4548.559027777777, 4548.61875, 4549.476388888889, 4549.722222222223, 4548.381944444444, 4549.546527777778, 4549.419444444445, 4548.404166666666, 4549.725, 4549.475, 4549.595833333334, 4548.7625, 4548.677083333333, 4548.4326388888885, 4548.450694444445, 4549.610416666666, 4548.653472222222, 4549.538888888889, 4549.591666666666, 4548.4875, 4548.6513888888885, 4549.7444444444445, 4548.552777777778, 4548.636111111111, 4549.540277777778, 4549.402083333333, 4548.6194444444445, 4549.728472222222, 4548.425694444444, 4549.722222222223, 4549.561111111111, 4548.60625, 4548.398611111111, 4549.5680555555555, 4549.652083333333, 4549.572222222222, 4548.593055555555, 4548.46875, 4548.6819444444445, 4549.5576388888885, 4548.472916666667, 4548.418055555556, 4548.672222222222, 4548.8, 4548.500694444445, 4548.590972222222, 4548.720833333334, 4548.4951388888885, 4548.579861111111, 4548.427777777778, 4548.5263888888885, 4549.652777777777, 4549.548611111111, 4548.614583333333, 4548.652083333333, 4549.615277777778, 4549.711111111111, 4548.590972222222, 4549.481944444445, 4549.719444444445, 4548.514583333334, 4548.4736111111115, 4549.606944444445, 4549.647222222222, 4548.638888888889, 4549.709722222222, 4549.476388888889, 4549.534722222223, 4548.5569444444445, 4549.472916666667, 4548.620833333333, 4549.600694444444, 4549.623611111111, 4548.388888888889, 4548.613194444444, 4548.390972222222, 4548.466666666666, 4548.524305555556, 4549.406944444445, 4548.574305555556, 4549.486111111111, 4549.5625, 4548.4111111111115, 4548.697222222222, 4549.469444444445, 4549.425, 4549.5993055555555, 4548.459027777778, 4548.5576388888885, 4548.610416666666, 4549.51875, 4549.601388888889, 4548.585416666667, 4548.438888888889, 4549.711805555556, 4549.4423611111115, 4549.695833333333, 4548.522222222222, 4549.6923611111115, 4548.488194444444, 4549.590277777777, 4548.509722222222, 4549.515972222222, 4548.427083333333, 4548.513194444445, 4549.448611111111, 4548.730555555556, 4548.405555555555, 4549.4951388888885, 4548.553472222222, 4549.722222222223, 4548.4625, 4549.521527777778, 4549.774305555556, 4548.720138888889, 4549.5048611111115, 4549.604166666667, 4549.569444444444, 4549.636111111111, 4549.633333333333, 4549.673611111111, 4548.702083333334, 4549.597916666667, 4548.561805555555, 4549.609722222222, 4548.55, 4549.393055555555, 4548.652777777777, 4549.7138888888885, 4549.6201388888885, 4549.552777777778, 4548.407638888889, 4549.441666666667, 4548.384027777778]

In [178]:
CustomerID = (data1['CustomerID']).unique()
CustomerID = CustomerID[~np.isnan(CustomerID)]
CustomerID

In [165]:
data2 = pd.DataFrame({'CustomerID':CustomerID, 'Frequency':Frequency, 'Monetary':Monetary, 'Recency':Recency_days})

{nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16456.0,
 16510.0,
 16539.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16546.0,
 16552.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16583.0,
 16634.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16770.0,
 16781.0,
 16835.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16916.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16928.0,
 nan,
 nan,
 13138.0,
 16955.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13145.0,
 16995.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17017.0,
 17025.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17069.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17181.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17228.0,
 17235.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17287.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17346.0,
 nan,
 nan,
 nan,
 nan,
 17377.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 17381.0,
 17412.0,
 17420.0,
 17460.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17511.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17547.0,
 17548.0,
 17567.0,
 17572.0,
 17581.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17643.0,
 17659.0,
 17685.0,
 17690.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17732.0,
 17757.0,
 17760.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17802.0,
 17809.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 17838.0,
 17841.0,
 17850.0,
 17855.0,
 17873.0,
 17897.0,
 17905.0,
 17908.0,
 17920.0,
 17924.0,
 17925.0,
 17951.0,
 17964.0,
 17968.0,
 17976.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 18011.0,
 18041.0,
 18074.0,
 18085.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 18144.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 18168.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 18229.0,
 18239.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16752.0,
 16754.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 12431.0,
 12433.0,
 12471.0,
 12472.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 12583.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 12662.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 12748.0,
 12791.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 12838.0,
 nan,
 nan,
 nan,
 nan,
 12855.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 12868.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 12915.0,
 12921.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 12947.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13011.0,
 13047.0,
 13065.0,
 13090.0,
 13093.0,
 13108.0,
 13117.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13255.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13295.0,
 13305.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13402.0,
 13408.0,
 13418.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13448.0,
 13468.0,
 13491.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13576.0,
 13694.0,
 13705.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13715.0,
 13747.0,
 13748.0,
 13758.0,
 13767.0,
 13777.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13798.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13941.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 13958.0,
 ...}

In [ ]:
.unique()