In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # a specialized 2d plotting library to visualise Numpy computations
import statsmodels.api as sm
    #these where imported after we set up the regression line
import seaborn as sns # a similar package to matplotlib but it's more advanced at it
sns.set() # basically it's like the relationship between css and html XD
sns.set_theme(style="whitegrid")

In [68]:
data = pd.read_csv('OnlineRetail.csv', nrows=5000)

In [69]:

data1 = data[['Quantity' , 'UnitPrice','CustomerID' , 'InvoiceDate' ]].copy()
data.describe()

          Quantity    UnitPrice    CustomerID
count  5000.000000  5000.000000   3795.000000
mean      9.185800     3.792314  15906.281950
std     144.940788    13.211720   1732.068892
min   -9360.000000     0.000000  12431.000000
25%       1.000000     1.250000  14606.000000
50%       3.000000     2.510000  15862.000000
75%      10.000000     4.210000  17841.000000
max    2880.000000   607.490000  18239.000000

In [70]:
data1['Quantity'] = data['Quantity'][data['Quantity'] >0]
data1['UnitPrice'] = data['UnitPrice'][data['UnitPrice'] !=0 ]

In [71]:
data1.describe()

          Quantity    UnitPrice    CustomerID
count  4928.000000  4988.000000   3795.000000
mean     11.454343     3.801437  15906.281950
std      58.812181    13.226295   1732.068892
min       1.000000     0.030000  12431.000000
25%       1.000000     1.250000  14606.000000
50%       3.000000     2.510000  15862.000000
75%      12.000000     4.210000  17841.000000
max    2880.000000   607.490000  18239.000000

In [72]:
data1.groupby(['CustomerID'])['Quantity'].count()

CustomerID
12431.0    14
12433.0    73
12471.0     0
12472.0     0
12583.0    20
           ..
18085.0     9
18144.0     3
18168.0    10
18229.0     7
18239.0    29
Name: Quantity, Length: 197, dtype: int64

In [73]:
data1.groupby(['CustomerID'])['UnitPrice'].sum()

CustomerID
12431.0     73.90
12433.0    102.67
12471.0      8.50
12472.0     49.45
12583.0     55.29
            ...
18085.0     34.60
18144.0      7.89
18168.0     70.25
18229.0     48.65
18239.0     96.90
Name: UnitPrice, Length: 197, dtype: float64

In [74]:
data1['InvoiceDate'].astype('str')

0       01-12-2010 08:26
1       01-12-2010 08:26
2       01-12-2010 08:26
3       01-12-2010 08:26
4       01-12-2010 08:26
              ...
4995    02-12-2010 18:08
4996    02-12-2010 18:08
4997    02-12-2010 18:08
4998    02-12-2010 18:08
4999    02-12-2010 18:08
Name: InvoiceDate, Length: 5000, dtype: object

In [ ]:
from datetime import datetime
format_2 = "%d-%m-%Y %H:%M"
i=0
for item in (data1['InvoiceDate']):
    data1['InvoiceDate'][i] = datetime.strptime(item, format_2)
    i = i+1

In [79]:
data1.groupby(['CustomerID'])['InvoiceDate'].min()

CustomerID
12431.0    01-12-2010 10:03
12433.0    01-12-2010 13:24
12471.0    02-12-2010 10:37
12472.0    01-12-2010 14:33
12583.0    01-12-2010 08:45
                 ...
18085.0    01-12-2010 12:08
18144.0    01-12-2010 13:45
18168.0    02-12-2010 17:14
18229.0    01-12-2010 16:25
18239.0    02-12-2010 17:48
Name: InvoiceDate, Length: 197, dtype: object

In [87]:
import time

current_time = time.strftime("%d-%m-%Y %H:%M")
current_timeDate = datetime.strptime(current_time, "%d-%m-%Y %H:%M")
timeDate = datetime.strptime(data1['InvoiceDate'][102], "%d-%m-%Y %H:%M")
print(timeDate)

print(abs((timeDate-current_timeDate).total_seconds()))

2010-12-01 09:37:00
393093840.0